
@{
    ViewData["Title"] = "Новый материал";
}

<body>

    <h2>Добавление материала</h2>

    <form method="post">

        <table>
            <tr>
                <td>Название материала:</td>
                <td><input type="text" name="Name" minlength="1" required></td>
            </tr>

            <p><td><input type="submit" value="Добавить" /></td></p>

        </table>

    </form>

</body>


