@{
    ViewData["Title"] = "Новый статус";
}


<body>

    <h2>Добавление статуса</h2>
    
    <form method="post">

        <table>
            <tr>
                <td>Название статуса:</td>
                <td><input type="text" name="Name" minlength="1" required></td>
            </tr>

            <p><td><input type="submit" value="Добавить" /></td></p>

        </table>

    </form>

</body>


