
@{
    ViewData["Title"] = "ООО \"Склад\"";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@



<body>

    

    <h2>О компании "Sklad"</h2>

    <div id="parent">
        <div id="wide_2">
            <img style="width: 85%;" src="https://i.ibb.co/H4fzmtT/Screenshot-7.png" alt="Screenshot-7">

        </div>

        <div id="narrow_2">
            Компания "Sklad" начинает своб историю в 2022 году с открытия первого склада в Сибири, в городе Томск. Первым зданием склада
            был арендованый ангар общей площадью 210 м^2. На первую рабочую смену вышло 28 человек, большинство из них - знакомые или родственники
            первого управляющего состава.
        </div>

    </div>

    <p></p>

    <div id="parent">
        <div id="wide_3">
            В настоящий момент компания имеет 3 склада в томской области: в городе Томск, в городах Асино и Северск. Рабочий состав насчитывает
            более 400 человек, задействованных в различных областях, в том числе и в деревообработке и производстве собственной продукции. 
            Общая площадь складов и производственный помещений составляет около 800 м^2.
        </div>

        <div id="narrow_3">
            <img style="width: 85%;" src="https://i.ibb.co/T1HQjTt/Screenshot-8.png" alt="Screenshot-7">
        </div>

    </div>

    <p></p>

    <div id="parent">
        <div id="wide_2">
            <img style="width: 85%;" src="https://i.ibb.co/t35ZPmk/Screenshot-9.png" alt="Screenshot-9">

        </div>

        <div id="narrow_2">
            За первый квартал 2022 года команией было транспортировано более 500 тонн древисины. Материально техническая база 
            компании постоянно растет, увеличивается количество заказов, число довольных заказчиков растет с каждым днем. 
            Если вам интересна работа в компании "Sklad", вы можете проверить раздел "Вакансии" в поисках подходящей работы.
        </div>

    </div>

    <p></p>


    <div id="hr"><hr></div>

</body>

