@{
    ViewData["Title"] = "ООО \"Склад\"";
}


<body>

    <h2>Контакты</h2>

    <h4>Склад в Томске</h4>

    <div id="parent">
        <div id="wide_2">
            <img style="width: 70%;" src="https://i.ibb.co/wh0DLgF/Screenshot-14.png" alt="tomsk-sklad">
        </div>
      
        <div id="narrow_2">
            Томская область, г.Томск, Ул.Томская 24а, 630990<br>пн.-сб. 9:00 - 19:00 вс. 9:00 - 15:00<br>
            тел. 8-900-800-70-90<br>
            тел. 8-910-600-70-90
        </div>
    </div>

    <p></p>

    <h4>Склад в Асино</h4>

    <div id="parent">
        <div id="wide_2">
            <img style="width: 70%;" src="https://i.ibb.co/7zG4Syh/Screenshot-13.png" alt="asino-sklad">
        </div>

        <div id="narrow_2">
            Томская область, г.Асино, прос.Асиновский 6/2, 617000<br>пн.- пт. 10:00 - 19:00 сб-вс. выходной<br>
            тел. 8-900-600-90-50<br>
        </div>
    </div>
    
    <p></p>

    <h4>Склад-магазин в Северске</h4>

    <div id="parent">
        <div id="wide_2">
            <img style="width: 70%;" src="https://i.ibb.co/qrw19ZF/Screenshot-15.png" alt="seversk-sklad">
        </div>

        <div id="narrow_2">
            Томская область, г.Северск, ул.Северская 75, 645000<br>пн.- пт. 9:00 - 18:00 <br>сб. 10:00 - 16:00<br>вс. выходной<br>
            тел. 8-980-610-10-00 (Генадий)<br>тел. 690-800
        </div>
    </div>

    <p></p>

    <div id="hr"><hr></div>

</body>

