<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - skladMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/skladMVC.styles.css" asp-append-version="true" />
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">skladMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

    
    <div id="header" style="position: relative;">
        <div>
            <div style="float:left; height: 60px;">
                <a href='/Home/Index' title='skladLogo'><img height="65" style="height: 65px;" src='https://i.ibb.co/cXwvgfC/34.png' alt='skladLogo.png' /></a>
            </div>

            <div style="float:right; height: 60px;">
                @if (ViewBag.Role != null && ViewBag.Role != "NOT FOUND")
                {
                    <p><a href="/Accounts/Profile">@ViewBag.Name</a> 
                        <br>
                        <a href="/Accounts/Cart">Корзина</a>
                        <br>
                        <a href="/Accounts/Logout">Выйти</a>
                    </p>
                    
                }
                else
                {
                    <a href="/Accounts/loginform">Войти</a><br>
                    <a href="/Accounts/registrationform">Зарегистрироваться</a>
                }

            </div>

        </div>
    </div>

    <div id="hr"><hr></div>

    <table>
        <tr>
            <td><a href="/Home/">Главная</a></td>
            <td><a href="/Catalogs/Catalog">Каталог</a></td>
            <td><a href="/Home/Contacts">Контакты</a></td>
            <td><a href="/Home/Job">Вакансии</a></td>
        </tr>
    </table>

    <div id="hr"><hr></div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - skladMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
