@{
    ViewData["Title"] = "Регистрация";
}

<body>
    <body>

        <h2>Registration Form</h2>

        <form method='post'>
            <p>
                <label>Имя пользователя</label><br />
                <input name='Name' />
            </p>
            <p>
                <label>Email</label><br />
                <input name='Email' />
            </p>
            <p>
                <label>Пароль</label><br />
                <input type='password' name='Password' />
            </p>

            <input type='submit' value='Register' />

        </form>

    </body>
</body>